<%= form_for @word_list, :html => {
    :id => "new_wordlist",
    :class => "form-horizontal",
    :"data-bv-message" => "This value is not valid",
    :"data-bv-feedbackicons-valid" => "glyphicon glyphicon-ok",
    :"data-bv-feedbackicons-invalid" => "glyphicon glyphicon-remove",
    :"data-bv-feedbackicons-validating" => "glyphicon glyphicon-refresh"
  } do |f| %>
  <% if @word_list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@word_list.errors.count, "error") %> prohibited this word_list from being saved:</h2>

      <ul>
      <% @word_list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group">
      <%= f.label :title, :class => "control-label col-sm-2"%>
      <div class="col-sm-4">
        <%= f.text_field :title, :class => "form-control", :"data-bv-notempty" => true, :"data-bv-notempty-message" => "A title is required" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :author, :class => "control-label col-sm-2" %>
      <div class="col-sm-4">
        <%= f.text_field :author, :class => "form-control", :"data-bv-notempty" => true, :"data-bv-notempty-message" => "An author is required"  %>    
      </div>
    </div>
  </div>

  <h2>Add a lot of words</h2>
  <h4>One line per word, separate alternatives by <b>|</b>, back and front of the card by <b>;</b></h4>
  <div id="word-list-instructions" class="well">
    <h5>EXAMPLE</h5>
    <p>foreign;mylanguage</p>
    <p>foreign|foreign2;mylanguage</p>
    <p>foreign|foreign2;mylanguage|mylanguage2</p>
  </div>

  <div class="row">
    <div class="form-group">
      <%= f.label :a_lot_of_words, :class => "control-label col-sm-2"%>
      <div class="col-sm-4">
        <textarea placeholder="optional" id="word_list_words_text" name="word_list[a_lot_of_words]" class="form-control" style="height:200px;"></textarea>
      </div>
    </div>
  </div>

  <h2>Or one word at a time</h2>
  <h4>Again, you can separate word alternatives by <b>|</b></h4>

  <button type="button" id="add" class="btn btn-default form-btn">Add a single word</button>
  <script type="text/javascript">
  $(function() {
    function add(){
      $('#words').append("<%= j render(:partial => 'word', :locals => {word: Word.new}) %>");
    }
    $('#add').click(function(){add();});
  });
  </script>
  <div id="words">
    <%= render :partial => "word", :collection => @word_list.words.all.order(:id), :as => :word %>
  </div>


  <div class="actions">
    <%= f.submit class: "btn btn-primary form-btn" %>
  </div>
<% end %>
